*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

body{
  font-family:'Poppins', sans-serif;
  background:#f8f8f8;
  color:#222;
  overflow-x:hidden;
}

img{
  width:100%;
  display:block;
}

section{
  padding:80px 8%;
}

.section-title{
  text-align:center;
  margin-bottom:50px;
}

.section-title h2{
  font-size:40px;
  margin-bottom:10px;
}

.section-title p{
  color:#666;
}

/* HEADER */

header{
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
  background:#111;
  padding:18px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  color:#fff;
  font-size:28px;
  font-weight:700;
}

.logo span{
  color:#0e4813;
}

nav{
  display:flex;
  gap:30px;
}

nav a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#ffb703;
}

.menu-btn{
  display:none;
  color:white;
  font-size:30px;
  cursor:pointer;
}

/* HERO */

.hero{
  min-height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
  url('httpsi.ibb.coh1BmJZ17hero..jpg');

  background-size:cover;
  background-position:center;

  display:flex;
  align-items:center;
  color:white;
}

.hero-content{
  max-width:650px;
}

.hero h1{
  font-size:65px;
  margin-bottom:20px;
}

.hero p{
  margin-bottom:30px;
}

.btn{
  display:inline-block;
  padding:14px 35px;
  background:#02370a;
  color:#ffffff;
  border-radius:50px;
  text-decoration:none;
  font-weight:600;
  transition:0.4s;
}

.btn:hover{
  background:white;
  transform:translateY(-5px);
}

/* FEATURES */

.features{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.feature-box{
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

/* PRODUCTS */

.products-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.product-card{
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
  transition:0.4s;
}

.product-card:hover{
  transform:translateY(-10px);
}

.product-card img{
  height:280px;
  object-fit:cover;
}

.product-info{
  padding:20px;
}

.price{
  color:#ff6b00;
  font-weight:700;
  margin:10px 0;
}

/* COLLECTIONS */

.collection{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.collection-box{
  position:relative;
  overflow:hidden;
  border-radius:20px;
}

.collection-box img{
  height:400px;
  object-fit:cover;
  transition:0.5s;
}

.collection-box:hover img{
  transform:scale(1.1);
}

.collection-text{
  position:absolute;
  bottom:30px;
  left:30px;
  color:white;
}

/* TESTIMONIALS */

.testimonials{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

.testimonial{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 20px rgba(0,0,0,0.08);
}

.testimonial img{
  width:80px;
  height:80px;
  border-radius:50%;
  object-fit:cover;
  margin-bottom:20px;
}

/* NEWSLETTER */

.newsletter{
  background:#111;
  color:white;
  text-align:center;
  padding:70px 30px;
  border-radius:30px;
}

.newsletter form{
  margin-top:30px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
}

.newsletter input{
  padding:15px;
  width:300px;
  border:none;
  border-radius:50px;
}

.newsletter button{
  padding:15px 30px;
  border:none;
  border-radius:50px;
  background:#ffb703;
  cursor:pointer;
}

/* FOOTER */

footer{
  background:#000;
  color:#ccc;
  text-align:center;
  padding:30px;
}

/* ANIMATION */

.hidden{
  opacity:0;
  transform:translateY(50px);
  transition:all 1s ease;
}

.show{
  opacity:1;
  transform:translateY(0);
}

/* RESPONSIVE */

@media(max-width:900px){

  nav{
    position:absolute;
    top:80px;
    left:-100%;
    width:100%;
    background:#111;
    flex-direction:column;
    padding:30px;
    transition:0.4s;
  }

  nav.active{
    left:0;
  }

  .menu-btn{
    display:block;
  }

  .hero h1{
    font-size:45px;
  }
}

@media(max-width:600px){

  .hero h1{
    font-size:35px;
  }

  .section-title h2{
    font-size:30px;
  }
}